[submodule "submodules/cv-data"]
	path = submodules/cv-data
	url = git@github.com-thiago:o-thiago/cv-data.git
	branch = main
[submodule "submodules/curriculum-vitae"]
	path = submodules/curriculum-vitae
	url = git@github.com-thiago:o-thiago/resume-template.git
	branch = main
