# Build output
public/
result
result-*

# Generated CSS & PDFs
static/style.css
static/*.pdf

# Generated CV & Experience content
content/resume/_index*.md
content/experience/_index*.md

# Cache & local submodules
.cache/
submodules/

# OS & Editor files
.DS_Store
*.swp
*.swo
.vscode/
.idea/
.direnv/
